# Python general
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/
*.env

# Logs and debugging
*.log
*.out
*.err
debug/

# IDE-specific
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific
.DS_Store
Thumbs.db

# LaTeX builds
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bbl
*.bcf
*.blg
*.run.xml
*.fdb_latexmk
*.synctex(busy)
*.synctex.gz
*.pdfsync
*.dvi
*.nav
*.snm
*.vrb
*.xdv

# Other
*.bak
*.tmp
